<div style="padding: 1em; border: 5px solid black">
  <div>
    I am currently: <b>{{ isDisabled ? "disabled" : "enabled" }}</b>
  </div>
  <div>
    Values inside the control: <b>{{ textControl.value }}</b
    >, <b>{{ text2Control.value }}</b
    >, <b>{{ text3Control.value }}</b>
  </div>
  <app-input-control *ngIf="hideInputControl" [validControl]="textControl"></app-input-control>
  <app-input-control *ngIf="hideInputControl" [validControl]="text2Control"></app-input-control>
  <app-input-control *ngIf="!hideInputControl" [validControl]="text3Control"></app-input-control>
  <div>Value changed on: {{ timestamp | date: "medium" }}</div>
  <div>Group child changed on: {{ groupTimestamp | date: "medium" }}</div>
  <button (click)="onDisableText()" [disabled]="isDisabled">Disable input</button>
  <button (click)="onHideInputControl()" [disabled]="isDisabled">Hide input control</button>
  <div *ngIf="validGroup">
    Control is: <b>{{ validGroup.status }}</b>
    <div>
      errors:
      <span *ngFor="let error of validGroup.errors">
        <span>{{ error.identifier }}</span>
        <span> - </span>
        <span>{{ error.format("{0} and {1} and {2} at most.") }}</span>
      </span>
    </div>
  </div>
</div>
