<div style="padding: 1em; border: 5px solid black">
  <div>
    I am currently: <b>{{ isDisabled ? "disabled" : "enabled" }}</b>
  </div>
  <div>
    Value inside the control: <b>{{ textControl.value }}</b>
  </div>
  <app-input-control *ngIf="hideInputControl" [validControl]="textControl"></app-input-control>
  <app-input-control *ngIf="hideInputControl" [validControl]="text2Control"></app-input-control>
  <button (click)="onDisableText()" [disabled]="isDisabled">Disable input</button>
  <button (click)="onHideInputControl()" [disabled]="isDisabled">Hide input control</button>
</div>
