<app-validation-sub-class [validControl]="innerControl"> </app-validation-sub-class>
<app-validation-sub-class [validControl]="innerControl2"> </app-validation-sub-class>
<button (click)="onDisableInnerControl()">Disable first control</button>
<button (click)="onMarkAsTouched()">Mark second control as touched</button>
<div>{{ getChildValue() }}</div>
<div>Value changed on: {{ timestamp | date: "h:m:s.SSS" }}</div>

<div *ngIf="validGroup">
  Control is: <strong>{{ validGroup.status }}</strong>
</div>
