<div style="padding: 1em; border: 2px solid green">
  <div>
    I am currently: <b>{{ isDisabled ? "disabled" : "enabled" }}</b>
  </div>
  <input #input [disabled]="isDisabled" />
  <div *ngIf="validControl">
    Control is: <b>{{ validControl.errors.length === 0 ? "valid" : "invalid" }}</b>
    <div>
      errors:
      <span *ngFor="let error of validControl.errors">
        <span>{{ error.identifier }}</span>
        <span> - </span>
        <span>{{ error.format("{0} and {1} and {2} at most.") }}</span>
      </span>
    </div>
  </div>
</div>
